{% extends "base.html" %}

{% load humanize %}
{% load fftogo_tags %}

{% block title %}{% endblock %}

{% block rss %}
    <link rel="alternate" type="application/atom+xml" href="{{ request.path }}?output=atom{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" />
{% endblock %}

{% block above_content %}
    {% if request.message %}
        <div class="message">
            {% ifequal request.message 'settings' %}
                Did you know that you can <a href="{% url settings %}">change your font size and other settings</a>?
            {% endifequal %}
            {% ifequal request.message 'shared' %}
                Entry created
                -
                <a href="{% url entry_delete request.entry %}"?next={{ request.path }}">Undo</a>
            {% endifequal %}
            {% ifequal request.message 'deleted' %}
                {% if request.comment %}
                    Comment deleted
                    -
                    <a href="{% url comment_undelete request.entry,request.comment %}?next={{ request.path }}">Undo</a>
                {% else %}
                    Entry deleted
                    -
                    <a href="{% url entry_undelete request.entry %}"?next={{ request.path }}">Undo</a>
                {% endif %}
            {% endifequal %}
            {% ifequal request.message 'commented' %}
                Comment created
                -
                <a href="{% url comment_delete request.entry,request.comment %}?next={{ request.path }}">Undo</a>
            {% endifequal %}
            {% ifequal request.message 'liked' %}
                Entry liked
                -
                <a href="{% url entry_unlike request.entry %}?next={{ request.path }}">Undo</a>
            {% endifequal %}
            {% ifequal request.message 'un-liked' %}
                Entry un-liked
                -
                <a href="{% url entry_like request.entry %}?next={{ request.path }}">Undo</a>
            {% endifequal %}
            {% ifequal request.message 'hidden' %}
                Entry hidden
                -
                <a href="{% url entry_unhide request.entry %}?next={{ request.path }}">Undo</a>
            {% endifequal %}
            {% ifequal request.message 'un-hidden' %}
                Entry un-hidden
                -
                <a href="{% url entry_hide request.entry %}?next={{ request.path }}">Undo</a>
            {% endifequal %}
            {% ifequal request.message 'unsubscribed' %}
                Unsubscribed from <a href="{% url user profile.nickname %}">{% firstof profile.name profile.nickname %}</a>
                -
                <form style="display: inline;" method="post" action="{% url user_subscribe profile.nickname %}">
                    <input type="submit" value="Undo" />
                </form>
            {% endifequal %}
            {% ifequal request.message 'subscribed' %}
                Subscribed to <a href="{% url user profile.nickname %}">{% firstof profile.name profile.nickname %}</a>
                -
                <form style="display: inline;" method="post" action="{% url user_unsubscribe profile.nickname %}">
                    <input type="submit" value="Undo" />
                </form>
            {% endifequal %}
        </div>
    {% endif %}
    {% block above_share %}
    {% endblock %}
    {% block share %}
        {% if request.session.nickname and not request.GET.start %}
            <form method="post" action="/share/">
                <input type="hidden" name="next" value="{{ request.path }}" />
                {% block extra_post %}{% endblock %}
                <input name="title" />
                <input type="submit" value="{% block share_button_value %}Share{% endblock %}" />
            </form>
        {% endif %}
    {% endblock %}
    {% block below_share %}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="entries">
        {% for entry in entries %}
            <li id="{{ entry.id }}" class="entry">
            {% if not entry.hidden %}
                <a href="{{ request.path }}?service={{ entry.service.id }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.url %}&url={{ request.GET.url }}{% endif %}"><img src="{{ entry.service.iconUrl }}" alt="{{ entry.service.name }}" /></a> 
                {% block room_prefix %}
                    {% if entry.room %}
                        <a href="{% url room entry.room.nickname %}">{{ entry.room.name }}</a>:
                    {% endif %}
                {% endblock %}
                {% block user_prefix %}
                    {% if not entry.anonymous %}
                        {% if not entry.user.nickname %}
                            <a href="{% url user entry.user.id %}">{{ entry.user.name }}</a>
                        {% else %}
                            <a href="{% url user entry.user.nickname %}">{% ifequal request.session.nickname entry.user.nickname %}You{% else %}{{ entry.user.name }}{% endifequal %}</a>
                        {% endif %}
                    {% endif %}
                {% endblock %}
                {% block friend_of %}
                    {% if entry.friendof %}
                        (friend of <a href="{% url user entry.friendof.nickname %}">{{ entry.friendof.name }}</a>)
                    {% endif %}
                {% endblock %}
                {{ entry|find_verb }}
                {% ifequal entry.service.id 'twitter' %}
                    {% if request.session.googlemobileproxy %}
                        "{{ entry.title|urlizetrunc:30|twitterize|gmpize|safe }}"
                    {% else %}
                        "{{ entry.title|urlizetrunc:30|twitterize|safe }}"
                    {% endif %}
                {% else %}
                    {% if entry|is_message %}
                        {% if request.session.googlemobileproxy %}
                            "{{ entry.title|urlizetrunc:30|gmpize|safe }}"
                        {% else %}
                            "{{ entry.title|urlizetrunc:30 }}"
                        {% endif %}
                    {% else %}
                        <a href="{% if request.session.googlemobileproxy %}{{ entry.link|gmpize:1 }}{% else %}{{ entry.link }}{% endif %}"{% if request.session.newwindow %} target="_blank"{% endif %}>{{ entry.title }}</a>
                    {% endif %}
                {% endifequal %}
                on <a href="{{ entry.service.profileUrl }}">{{ entry.service.name }}</a>
                {% if request.session.media %}
                    {% if entry.media %}
                        <div class="media">
                            {% for media in entry.media|filter_media %}
                                {% if media.thumbnails %}
                                    {% for thumbnail in media.thumbnails|filter_thumbnails %}
                                        <a href="{% firstof media.link entry.link %}"{% if request.session.newwindow %} target="_blank"{% endif %}"><img src="{{ thumbnail.url }}" alt="{% firstof thumbnail.title media.title entry.title %}" title="{% firstof thumbnail.title media.title entry.title %}" /></a>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="meta">
                    <span title="{{ entry.updated}}">{{ entry.updated|timesince }} ago</span>
                    {% if entry.via %}
                        via <a class="via" href="{{ entry.via.url }}">{{ entry.via.name }}</a>
                    {% endif %}
                    {% block related %}
                        {% ifnotequal entry.service.id "googletalk" %}
                            -
                            <a href="{% url related %}?url={{ entry.link|urlencode }}">Related</a>
                        {% endifnotequal %}
                    {% endblock %}
                    {% if request.session.nickname %}
                        -
                        <a href="{% url entry_comment entry.id %}?next={{ request.path }}">Comment</a>
                        {% if entry|likeable:request.session.nickname %}
                            -
                            {% if request.session.nickname|liked:entry %}
                                <a href="{% url entry_unlike entry.id %}?next={{ request.path }}">Un-like</a>
                            {% else %}
                                <a href="{% url entry_like entry.id %}?next={{ request.path }}">Like</a>
                            {% endif %}
                        {% endif %}
                        {% block hide %}
                            -
                            <a href="{% url entry_hide entry.id %}?next={{ request.path }}">Hide</a>
                        {% endblock %}
                        {% ifequal entry.user.nickname request.session.nickname %}
                            -
                            <a href="{% url entry_delete entry.id %}?next={{ request.path }}">Delete</a>
                        {% else %}
                            {% if room %}
                                {% if request.session.nickname|is_admin:profile %}
                                    -
                                    <a href="{% url entry_delete entry.id %}?next={{ request.path }}">Delete</a>
                                {% endif %}
                            {% endif %}
                        {% endifequal %}
                    {% endif %}
                    {% if entry.likes %}
                        <div class="likes">
                            {% for like in entry.likes|shorten_likes:entries %}
                                {% if forloop.last %}
                                    {% if not forloop.first %}
                                        and
                                    {% endif %}
                                {% endif %}
                                {% if like.permalink %}
                                    <a href="{% url entry entry.id %}">{{ like.num }} other {{ like.num|pluralize:"person,people" }}</a>
                                {% else %}
                                    <a href="{% url user like.user.nickname %}">{% ifequal like.user.nickname request.session.nickname %}You{% else %}{{ like.user.name }}{% endifequal %}</a>
                                {% endif %}
                            {% endfor %}
                            liked this
                        </div>
                    {% endif %}
                    {% if entry.comments %}
                        <ul class="comments">
                            {% for comment in entry.comments|shorten_comments:entries %}
                                {% if comment.permalink %}
                                    <li class="permalink">
                                        <a href="{% url entry entry.id %}">{{ comment.num }} more comment{{ comment.num|pluralize }}</a>
                                    </li>
                                {% else %}
                                    <li id="{{ comment.id }}" class="comment">
                                        {% if request.session.googlemobileproxy %}
                                            {{ comment.body|urlizetrunc:30|gmpize|safe }}
                                        {% else %}
                                            {{ comment.body|urlizetrunc:30 }}
                                        {% endif %}
                                        -
                                        <a href="{% url user comment.user.nickname %}">{% ifequal comment.user.nickname request.session.nickname %}You{% else %}{{ comment.user.name }}{% endifequal %}</a>
                                        -
                                        <span title="{{ comment.date }}">{{ comment.date|timesince }} ago</span>
                                        {% if comment.via %}
                                            via <a class="via" href="{{ comment.via.url }}">{{ comment.via.name }}</a>
                                        {% endif %}
                                        {% ifequal request.session.nickname comment.user.nickname %}
                                            (<a href="{% url entry_comment entry.id %}?comment={{ comment.id }}&body={{ comment.body|urlencode }}&next={{ request.path }}">edit</a>
                                            |
                                            <a href="{% url comment_delete entry.id,comment.id %}?next={{ request.path }}">delete</a>)
                                        {% else %}
                                            {% ifequal request.session.nickname entry.user.nickname %}
                                                (<a href="{% url comment_delete entry.id,comment.id %}?next={{ request.path }}">delete</a>)
                                            {% else %}
                                                {% if room %}
                                                    {% if request.session.nickname|is_admin:profile %}
                                                        (<a href="{% url comment_delete entry.id,comment.id %}?next={{ request.path }}">delete</a>)
                                                    {% endif %}
                                                {% endif %}
                                            {% endifequal %}
                                        {% endifequal %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                <a href="http://friendfeed.com/e/{{ entry.id }}" class="hidden">Entry hidden</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if hidden %}
        <div class="hidden">
            {{ hidden|length }} entr{{ hidden|length|pluralize:"y,ies"}} hidden
        </div>
    {% endif %}
{% endblock %}

{% block below_content %}
    {%if not permalink %}
        <div id="nav">
            {% if has_previous %}
                7
                <a href="{{ request.path }}?start={{ previous }}{% if request.GET.service %}&service={{ request.GET.service }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.url %}&url={{ request.GET.url }}{% endif %}" accesskey="7">Previous</a>
            {% endif %}
            9
            <a href="{{ request.path }}?start={{ next }}{% if request.GET.service %}&service={{ request.GET.service }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.url %}&url={{ request.GET.url }}{% endif %}" accesskey="9">Next</a>
            *
            <a href="#top" accesskey="*">Top</a>
        </div>
    {% endif %}
{% endblock %}
