{% extends "entries.html" %}

{% load fftogo_tags %}

{% block title %}{% firstof profile.name profile.nickname %}{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="http://friendfeed.com/rooms/{{ profile.nickname }}/picture?size=medium" type="image/jpeg" />
{% endblock %}

{% block below_share %}
<div class="profile">
<img class="picture" src="http://friendfeed.com/rooms/{{ profile.nickname }}/picture?size=medium" alt="{% firstof profile.name profile.nickname %}" />
<div class="section">
<strong>{% firstof profile.name profile.nickname %}</strong>
</div>
<div class="section">
{% if request.session.googlemobileproxy %}
{{ profile.description|urlizetrunc:30|gmpize|safe }}
{% else %}
{{ profile.description|urlizetrunc:30 }}
{% endif %}
</div>
{% endblock %}
