{% extends "entries.html" %}

{% load fftogo_tags %}

{% block title %}{% firstof profile.name profile.nickname %}{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="http://friendfeed.com/rooms/{{ profile.nickname }}/picture?size=small" type="image/jpeg" />
{% endblock %}

{% block below_share %}
<p>
<img src="http://friendfeed.com/rooms/{{ profile.nickname }}/picture?size=small" alt="{% firstof profile.name profile.nickname %}" />
<strong>{% firstof profile.name profile.nickname %}</strong>
<span>
{% if request.session.googlemobileproxy %}
{{ profile.description|urlizetrunc:30|gmpize|safe }}
{% else %}
{{ profile.description|urlizetrunc:30 }}
{% endif %}
</span>
</p>
{% endblock %}
