{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    {% if saved %}
        <div class="message">
            Settings saved. <a href="{% url home %}">Return to home feed</a>.
        </div>
    {% endif %}
    <form method="post" action="/settings/">
        <table>
            {{ form.as_table }}
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
