{% extends "entries.html" %}

{% load fftogo_tags %}

{% block title %}
    {{ profile.name }}
{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="http://friendfeed.com/{{ profile.nickname }}/picture?size=medium" type="image/jpeg" />
{% endblock %}

{% block share %}
    {% if not type %}
        {% ifequal request.session.nickname profile.nickname %}
            {{ block.super }}
        {% endifequal %}
    {% endif %}
{% endblock %}

{% block below_share %}
    <div class="profile">
        {% if profile.nickname %}
            <img class="picture" src="http://friendfeed.com/{{ profile.nickname }}/picture" alt="{{ profile.name }}" />
        {% endif %}
        <strong><a href="{% if profile.nickname %}{% url user profile.nickname %}{% else %}{{ request.path }}{% endif %}">{{ profile.name }}</a></strong>
        {% if request.session.nickname and profile.nickname %}
            {% ifnotequal request.session.nickname profile.nickname %}
                <div class="section">
                    <form method="post" action="{% if subscribed %}{% url user_unsubscribe profile.nickname %}{% else %}{% url user_subscribe profile.nickname %}{% endif %}">
                        <input type="submit" value="{% if subscribed %}Unsubscribe{% else %}Subscribe{% endif %}" />
                    </form>
                </div>
            {% endifnotequal %}
        {% endif %}
        <div class="section">
            {% for service in profile.services %}
                <a class="service" href="{{ request.path }}?service={{ service.id }}"><img src="{{ service.iconUrl }}" alt="{{ service.name }}" /></a>
            {% endfor %}
        </div>
        {% if profile.nickname %}
            <div class="section">
                {% if not type %}
                    Feed
                {% else %}
                    <a href="{% url user profile.nickname %}">Feed</a>
                {% endif %}
                -
                {% ifequal type 'comments' %}
                    Comments
                {% else %}
                    <a href="{% url user_type profile.nickname,"comments" %}">Comments</a>
                {% endifequal %}
                -
                {% ifequal type 'likes' %}
                    Likes
                {% else %}
                    <a href="{% url user_type profile.nickname,"likes" %}">Likes</a>
                {% endifequal %}
                -
                {% ifequal type 'discussion' %}
                    Both
                {% else %}
                    <a href="{% url user_type profile.nickname,"discussion" %}">Both</a>
                {% endifequal %}
                -
                {% ifequal type 'friends' %}
                    {{ profile.name }} and Friends
                {% else %}
                    <a href="{% url user_type profile.nickname,"friends" %}">{{ profile.name }} and Friends</a>
                {% endifequal %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block user_prefix %}
    {% if type %}
        {{ block.super }}
    {% endif %} 
{% endblock %}

{% block friend_of %}{% endblock %}

{% block hide %}{% endblock %}

{% block summary %}{% endblock %}
